.card {
  min-height: 155px;
}
.card:hover {
  cursor: pointer;
}
h3,
h4 {
  color: #4e638b;
}

.title {
  color: #1d428a;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.favorite {
  color: #228b22;
}
